body {
  background-image: url(https://c0.wallpaperflare.com/preview/839/412/980/food-and-drink-pizza-pizzas-tomato.jpg);
  background-size: cover;
}

#image {
  font-size: 70px;
  font-family: "Fruktur", cursive;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  margin-top: 200px;
}
